body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  margin-top: 0;
  margin-bottom: 60px;
}

h1 .small {
  color: #666;
  font-weight: normal;
  font-size: 0.8em;
}

h2 {
  margin-bottom: 40px 0;
}

.side-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  background: #f9f9f9;
  padding: 40px;
}

.side-menu ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

.side-menu ul li {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

.side-menu > ul > li > span {
  font-size: 1.05em;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  padding-bottom: 10px;
}

.side-menu ul ul li {
  padding: 5px;
  padding-left: 20px;
}

.side-menu ul ul li a {
  color: #666;
  text-decoration: none;
}

.side-menu ul ul li a.router-link-exact-active {
  color: #000;
}

.page {
  padding: 40px;
  padding-left: 340px;
}

.code {
  font-family: 'Courier New', Courier, monospace;
  display: inline-block;
  background: #f9f9f9;
  padding: 5px 10px;
}

pre {
  background: #f9f9f9;
  padding: 20px;
  font-size: 1.1em;
}
